.css-19z1ozs-MuiPaper-root-MuiAppBar-root{
    background-image: linear-gradient(to right, #346BFF , #00AD53);
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    background-image: linear-gradient(to bottom, #346BFF, #00AD53);
    color: #fff !important;
}  
.css-wa5fuu-MuiListItemIcon-root{
    color: #fff !important;
}