.main-sidebar{
    /* background-color: #00AD53 !important; */
    background-image: linear-gradient(#00AD53, #007A3E)
    
}
/* .nav-pills{
    margin: 10px 0;
} */
.nav-pills .nav-link{
    color: white;
  
}
.nav-sidebar .nav-link p{
    white-space: inherit;
    margin-right: 10px;
}

a{
    cursor: pointer;
}

[id^=btn]:checked .dropdown {
    display: block !important;
}


div.nav-link:hover{
    background-color:#0e9a51;
    color:white;
    }

    
.nav-pills .nav-link:hover{
    color:white !important;
    cursor: pointer;
    background: #0e9a51;
}


div.nav-link{
    height: auto !important;
}

#settings{
  padding-left: 0%;
 margin-left: auto;
}

