.footer-pagination{
    position: relative;
}
.pagination{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right: auto;
    position: absolute;
    bottom: 30px;
    left: 35%;
}
.pagination button{
    height: 40px;
    font-size: 16px;
    margin: 0 5px;
    color: rgb(15, 124, 219);
    border-color: rgb(15, 124, 219) ;
    background-color: aliceblue;
}
.pagination button.active{
    background-color: rgb(24, 97, 231);
    color: honeydew;
    border-color: aliceblue;
}
#previous-btn,#next-btn{
    width: 100px;
    border-radius: 5px;
    margin-left: 20px;
}
@media ( max-width:700px ) {
    .pagination{
        bottom: 30px;
        left: 5%;
    }
    #previous-btn,#next-btn{
        width: 60px;
        height: 30px;
        border-radius: 5px;
        font-size: 12px;
        margin: 0 2px;
    }

}