@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Inter+Tight:wght@200&family=Noto+Serif&family=Playfair+Display&family=Roboto&family=Rubik+Dirt&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.assessment-test{
    /* display: grid; */
    justify-content: center;
    padding: 0%;
    
}
.assessment-test .header{
    background-color: #448ACA;
    color: aliceblue;
    padding: 10px 0;
    height: 100px;
    position: relative;
    
}
.assessment-test .header h1{
    text-align: center;
    font-weight: bolder;
}
.assessment-test .header .pageNo-Timer{
    display: flex;
    justify-content: space-around;
}
/* .question-form{
    position: relative;
} */
.question{
    /* width: max-content; */
    text-align: start;
    opacity: 0.9;
}
.question h3{
    margin-bottom: 15px;
}
.question-options{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1px 20px;
}
.question-options input{
    
    margin-right: 10px;
    width: 20px !important;
    height: 20px !important;
}
.questionWithOption{
    display: grid;
    width: auto;
    padding: 20px;
    margin-top: 30px;
    -webkit-box-shadow: 3px 3px 5px 4px rgba(153,137,153,1);
    -moz-box-shadow: 3px 3px 5px 4px rgba(153,137,153,1);
    box-shadow: 3px 3px 5px 4px rgba(153,137,153,1);
    height: 700px;
    position: relative;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 100;
}
.question-label{
    opacity: 0.9;
    width: auto;
    font-size: 25px;
    font-weight: lighter;
}
.question-form{
    width: auto;
}
.question-form .btn{
    position: absolute ;
    width: 200px;
    font-size: x-large;
    right: 30px;
    bottom: 40px;
    /* display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right: auto;
    position: absolute;
    bottom: 30px;
    left: 0%; */
}
.question-form .btn:hover{
    cursor: pointer;
}
.multi-q-details p{
    font-size: larger;
}
.option-popper-title{
    display: flex;
    justify-content: center;
    color:#007A3E;
}
.popper-btn{
    display: flex;
    justify-content: flex-end;
    margin: 5px 10px;
    
}
