@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Inter+Tight:wght@200&family=Noto+Serif&family=Playfair+Display&family=Roboto&family=Rubik+Dirt&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.assessment-test{
    /* display: grid; */
    justify-content: center;
    padding: 0%;
    
}
.assessment-test .header{
    background-color: #346BFF;
    color: aliceblue;
    padding: 10px 0;
    height: 100px;
    position: relative;   
}
.assessment-test h1{
    background-color: #346BFF;
    color: aliceblue;
    padding: 10px 0;
    text-align: center;
    /* font-weight: bolder; */
    width: 75%;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.assessment-test .pageNo-Timer{
    display: flex;
    justify-content: space-evenly;
    color: #346BFF;
}
/* .question-form{
    position: relative;
} */
.question{
    /* width: max-content; */
    text-align: start;
    opacity: 0.8;
    display: flex;
    justify-content: start;
    color: rgb(43, 40, 40);
    background-color: #daecdd;
    border-radius: 10px;
    min-height: 60vh;
    padding-top: 10px;
}

.question h3{
    margin: 15px 0;
    width: 98.5vw;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
}
.question-options{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 20px;
    /* width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px; */
}
.question-options input{
    margin-bottom: 0px !important;
    margin-right: 10px;
    width: 17px !important;
    height: 17px !important;
}
.questionWithOption{
    display: grid;
    width: 100%;
    padding: 20px;
    margin: 10px;
    -webkit-box-shadow: 3px 3px 5px 4px rgba(153,137,153,1);
    -moz-box-shadow: 3px 3px 5px 4px rgba(153,137,153,1);
    box-shadow: 3px 3px 5px 4px rgba(153,137,153,1);
    min-height: 90.5vh;
    position: relative;
}
.question-label{
    width: auto;
    font-weight: lighter;
    font-size: 20px;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.question-form{
    width: auto;
}
.question-form .btn{
    position: absolute ;
    width: 150px;
    font-size: 20px;
    right: 30px;
    bottom: 30px;
    /* display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-right: auto;
    position: absolute;
    bottom: 30px;
    left: 0%; */
}
.question-form .btn:hover{
    cursor: pointer;
}
.multi-q-details p{
    font-size: larger;
}
.option-popper-title{
    display: flex;
    justify-content: center;
    color:#007A3E;
}
.popper-btn{
    display: flex;
    justify-content: flex-end;
    margin: 5px 10px;
    
}
.quesInfo{
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    margin: 10px;
    color: #448ACA;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.timer h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.quesInfo h4{
    font-size: 20px;
}
.popper{
    background-color: white;
    box-shadow: 3px 2px 1px 1px rgba(0,0,0,0.25), -3px 2px 1px 1px rgba(0,0,0,0.25) ;
    width: 400px;
    color: black;
    padding: 20px;
    border-radius: 10px;
}
.option-popper{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media ( max-width:700px ) {
    .question{
        width: 100%;
        border: none;
    }
    .quesInfo{
        justify-content: space-between;
    }
    .quesInfo h4{
        font-size: 15px;
    }
    .question h3{
        font-size: 15px;
        margin: 2px 0;
    }
    .question-label{
        opacity: 0.9;
        width: auto;
        font-size: 13px;
        font-weight: lighter;
        margin: 0;
    }
    .question-options input{
        margin-bottom: 0px !important;
        margin-right: 5px;
        width: 12px !important;
        height: 12px !important;
    }
    .question-form .btn{
        width: 100px;
        height: 30px;
        font-size: 13px;
    }
    .popper{
        background-color: white;
        box-shadow: 3px 2px 1px 1px rgba(0,0,0,0.25), -3px 2px 1px 1px rgba(0,0,0,0.25) ;
        width: 300px;
        color: black;
        padding: 20px;
        border-radius: 10px;
    }
    .option-popper{
        font-size: 2px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}    